body {
    margin: 0;
    padding: 0;
}

/*nav para carrito*/
.navbar nav {
    height: 3.5rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar nav ul li {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.navbar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    margin-left: 1rem;
}

.navbar nav ul li a:hover {
    color: chocolate;
}

.navbar nav ul li img {
    height: 3.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 1.2rem;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.carrusel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carrusel-item{
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    padding: 30px 0px;
}

.carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover{
    transform:scale(1.2);
}


/*servicios*/
.shopContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

.card>img {
    width: 90%;
    height: 250px;
}

.valor {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/*modal*/

.modalContent {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modalContent::-webkit-scrollbar {
    display: none;
}

.modalHeader {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modalHeadertitle {
    justify-self: start;
}

.modalHeaderButton {
    cursor: pointer;
}

.modalContent>.carritoContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.totalContent {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}